<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h1> {{ swf.title }} </h1>
      <span> {{ swf.details }} </span>
    </div>

    <div class="col-lg-6 zip-input-box">
      <form>
        <div class="input-group">
          <input type="text" ng-model="zip" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" placeholder="Enter Zipcode..." />
          <span class="input-group-btn">
            <button
              class="btn btn-default"
              type="submit"
              ng-disabled="zip == null "
              ng-click="swf.getData(zip, swf.config, swf.weatherData, swf.trimmedData, swf.finalWeatherData)"
            >Go!
            </button>
        </span>
        </div><!-- /input-group -->
      </form>
    </div><!-- /.col-lg-6 -->

    <!-- progress bar -->
    <div class="progress progress-bar-weather">
      <div class="progress-bar bg-warning" role="progressbar" style="width: {{ swf.config.progress.buildUrl.value }}%" aria-valuenow="{{ swf.config.progress.buildUrl.value }}" aria-valuemin="0" aria-valuemax="100">{{ swf.config.progress.buildUrl.status }}</div>
      <div class="progress-bar bg-info" role="progressbar"    style="width: {{ swf.config.progress.getGeoCoords.value }}%" aria-valuenow="{{ swf.config.progress.getGeoCoords.value }}" aria-valuemin="0" aria-valuemax="100">{{ swf.config.progress.getGeoCoords.status }}</div>
      <div class="progress-bar" role="progressbar"            style="width: {{ swf.config.progress.getGridData.value }}%" aria-valuenow="{{ swf.config.progress.getGridData.value }}" aria-valuemin="0" aria-valuemax="100">{{ swf.config.progress.getGridData.status }}</div>
      <div class="progress-bar bg-success" role="progressbar" style="width: {{ swf.config.progress.getForecastData.value }}%" aria-valuenow="{{ swf.config.progress.getForecastData.value }}" aria-valuemin="0" aria-valuemax="100">{{ swf.config.progress.getForecastData.status }}</div>
    </div>

  </div>

  <div class="water-gauge">
    <!--<svg id="fillgauge1" width="19%" height="200" onclick="gauge1.update(NewValue());"></svg>-->
    <!--<svg id="fillgauge1" width="10%" height="10%" onclick="gauge1.update(NewValue());"></svg>-->
    <!--<svg id="fillgauge" width="10%" height="10%" onclick=""></svg>-->
  </div>

  <div class="forecast-area" ng-if="swf.config.location.city !=null" >
    <h3>{{ swf.config.location.city }}, {{ swf.config.location.state }}</h3>
    <div class="forecast-5day">

      <div class="forecast-day"
           ng-repeat="(key, data) in swf.finalWeatherData.finalWeatherData track by $index"
      >
        <div class="top-container">
          <div class="temps">
            <h2 ng-class="swf.calcColor(data)">{{ data.maxTemperature[0].value * 1.8 + 32 | number: 0 }}</h2>
            <h4>{{ key | date: "EEE" }}</h4>
            <h2>{{ data.minTemperature[0].value * 1.8 + 32 | number: 0 }}</h2>
          </div>

          <quantitativeprecip-directive
                  data="data">
          </quantitativeprecip-directive>

        </div>


        <probofprecip-directive
          data="data">
        </probofprecip-directive>
      </div>
    </div>
  </div>

  <!-- test graph -->
  <div class="new-graph"></div>

  <h4>Gauge</h4>
  <h4 class="spacer">Final Data:</h4>
  <json-tree object="swf.finalWeatherData" start-expanded="true"></json-tree>
  <hr>
</div>
