.zip-input-box {margin-top: 10px;}
.jumbotron {padding-bottom: 1rem; padding-top: 1rem;}
.progress-bar-weather{margin-top:15px;}

/*Water gauge*/
.water-gauge {
    /*display: flex;*/
    min-width: 50px;
    /*max-width: 100px;*/
}

/*forecast day stuffs*/
.forecast-area {margin-bottom: 20px;}
.forecast-5day {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.forecast-day {
    display:flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*width: 8rem;*/
    width: 25%;
    height: 12rem;
    /*min-height: 3rem;*/
    /*padding: .2rem;*/
    border: 1px solid #0375B4;
    border-radius: 5px;
    margin:0 2px;
    /*overflow: hidden;*/
}

.underline {
    border-bottom:1px solid #c0c0c0;
}