<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h1> {{ swf.title }} </h1>
      <span> {{ swf.details }} </span>
    </div>

    <div class="col-lg-6 zip-input-box">
      <form>
        <div class="input-group">
          <input type="text" ng-model="zip" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" placeholder="Enter Zipcode..." />
          <span class="input-group-btn">
            <button
              class="btn btn-default"
              type="submit"
              ng-disabled="zip == null "
              ng-click="swf.getData(zip, swf.config, swf.weatherData, swf.trimmedData)"
            >Go!
            </button>
        </span>
        </div><!-- /input-group -->
      </form>
    </div><!-- /.col-lg-6 -->

    <!-- progress bar -->
    <div class="progress progress-bar-weather">
      <div class="progress-bar bg-warning" role="progressbar" style="width: {{ swf.config.progress.buildUrl.value }}%"        aria-valuenow="{{ swf.config.progress.buildUrl.value }}" aria-valuemin="0" aria-valuemax="100">{{ swf.config.progress.buildUrl.status }}</div>
      <div class="progress-bar bg-info" role="progressbar"    style="width: {{ swf.config.progress.getGeoCoords.value }}%"    aria-valuenow="{{ swf.config.progress.getGeoCoords.value }}" aria-valuemin="0" aria-valuemax="100">{{ swf.config.progress.getGeoCoords.status }}</div>
      <div class="progress-bar" role="progressbar"            style="width: {{ swf.config.progress.getGridData.value }}%"     aria-valuenow="{{ swf.config.progress.getGridData.value }}" aria-valuemin="0" aria-valuemax="100">{{ swf.config.progress.getGridData.status }}</div>
      <div class="progress-bar bg-success" role="progressbar" style="width: {{ swf.config.progress.getForecastData.value }}%" aria-valuenow="{{ swf.config.progress.getForecastData.value }}" aria-valuemin="0" aria-valuemax="100">{{ swf.config.progress.getForecastData.status }}</div>
    </div>

  </div>

  <div class="forecast-area" ng-if="swf.config.location.city !=null" >
    <h3>{{ swf.config.location.city }}, {{ swf.config.location.state }}</h3>
    <div class="forecast-5day">
      <div class="forecast-day"
           ng-repeat="(key, data) in swf.trimmedData.trimmedData"
      >
        {{key}}

      </div>
    </div>
  </div>

  <h4>Final Data:</h4>
  <json-tree object="swf.finalWeatherData" start-expanded="true"></json-tree>
  <hr>

  <h4>Trimmed Data:</h4>
  <json-tree object="swf.trimmedData" start-expanded="true"></json-tree>
  <hr>

  <h4>Config:</h4>
  <json-tree object=" swf.config" start-expanded="true"></json-tree>
  <hr>

  <div class="testData">
    <div class="datahldr">
      <h4>Weather Data:</h4>
      <json-tree object=" swf.weatherData" start-expanded="true"></json-tree>
      <!--<pre>{{ swf.weatherData | json : 2}}</pre>-->
    </div>

  </div>
</div>