<div class="jumbotron">
  <div class="container">
    <h1>The Weather Hub</h1>
    <p>An attempt to improve everything; beginning with weather.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4" ng-controller="SwfCtrl as swf">
      <a href="#!/swf">
        <i class="material-icons homepage blue">cloud_done</i>
      </a>
      <h2>{{ swf.title }}</h2>
      <p>{{ swf.details }}</p>
      <a class="btn btn-secondary blue-bg" href="#!/swf">View More</a>
    </div>

    <div class="col-lg-4" ng-controller="ProjectsCtrl as projects">
      <a href="#!/projects">
        <i class="material-icons homepage orange">build</i>
      </a>
      <h2>{{ projects.title }}</h2>
      <p>{{ projects.details }}</p>
      <a class="btn btn-secondary orange-bg" href="#!/projects">View More</a>
    </div>


    <div class="col-lg-4" ng-controller="BlogCtrl as blog">
      <a href="#!/blog">
        <i class="material-icons homepage green">chat</i>
      </a>
      <h2>{{ blog.title }}</h2>
      <p>{{ blog.details }}</p>
      <a class="btn btn-secondary green-bg" href="#!/blog">View More</a>
    </div>

  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <h2 class="featurette-heading">Work work work....</h2>
      <p class="lead">Codeage tracker, powered by WakaTime.  Pretty neat little tool to track
      keystrokes.  Stops when you're idle.  Keeps the numbers truer.</p>
    </div>
    <div class="col-md-7">
      <figure><embed src="https://wakatime.com/share/@mattstryfe/7882dc8f-e1be-412d-bdd7-76ced5d0d87b.svg"></embed></figure>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="public/images/agno.png">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">The Story of Agno</h2>
      <p class="lead">Agno; the worst praying mantis I know.</p>
    </div>
  </div>




</div>

