gauge-directive {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: flex-end;}

.bar-chart-defaults {
    display: flex;
    flex: 1 1 auto;
    /*min-width:1px;*/
    /*margin:1px;*/
    width: .2rem;
    background-color: steelblue;
    /*padding:1px;*/
    margin:1px;
}

/*
.gauge {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}*/
